/* Add CSS Styling */
.odd {
    background-color: rgb(227, 137, 236);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#number2 {
    font-size: 36px;
    color: blue;
}

.adjust-size {
    font-size: 24px;
}

#number4 {
    background-color: lightgreen;
    font-weight: bold;
}

